page-memory-game {

.card{
    width: 100%;
    padding: 10px;
    border-radius: 30%;
    //border: 2px solid #555;
    background-image: linear-gradient(rgb(136, 185, 175),rgb(218, 233, 210));
}

}
